<a href="https://colab.research.google.com/github/lucas-tebet/4intelligence/blob/main/4intelligence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Contextualização

Neste estudo, será analisado o comportamento do consumo de energia na indústria, no comércio e nas residências ao longo dos meses, para as 5 regiões do Brasil. Para isso, será usada a base de dados fornecida pela 4intelligence e será única e exclusivamente utilizada para este estudo. 


<p align=center>
<img src="https://assets.weforum.org/project/image/LIp4qb2BizOwlNT65CG82y46h3vF9grSfncHnvXTdso.jpeg" width="85%"></p>


Como principal **objetivo** deste estudo, será desenvolvido um modelo de **Machine Learning** para projetar o consumo de energia industrial na região Sudeste nos próximos meses. Para entender este comportamento, serão levadas em consideração as diversas variáveis (descritas a seguir), disponíveis no database.

#Obtenção dos Dados
Como dito anteriormente, os dados foram fornecidos pela 4intelligence e estão disponíveis no [link](https://github.com/lucas-tebet/4intelligence/blob/main/Bases_Final_ADS_Jun2021.xlsx?raw=true).

##Dicionário de Variáveis
Para um breve entendimento, abaixo serão mostradas as 45 variáveis utilizadas neste estudo e uma descrição de cada uma delas. 

* **data_tidy**: data em AAAA-MM-DD
* **com_co**: consumo de energia (GWh) no comércio da região Centro Oeste (Fonte: EPE)
* **com_n**: consumo de energia (GWh) no comércio da região Norte (Fonte: EPE)
* **com_ne**: consumo de energia (GWh) no comércio da região Nordeste (Fonte: EPE)
* **com_s**: consumo de energia (GWh) no comércio da região Sul (Fonte: EPE)
* **com_se**: consumo de energia (GWh) no comércio da região Sudeste (Fonte: EPE)
* **ind_co**: consumo de energia (GWh) na indústria da região Centro Oeste (Fonte: EPE)
* **ind_n**: consumo de energia (GWh) na indústria da região Norte (Fonte: EPE)
* **ind_ne**: consumo de energia (GWh) na indústria da região Nordeste (Fonte: EPE)
* **ind_s**: consumo de energia (GWh) na indústria da região Sul (Fonte: EPE)
* **ind_se**: consumo de energia (GWh) na indústria da região Sudeste (Fonte: EPE)
* **res_co**: consumo de energia (GWh) nas residências da região Centro Oeste (Fonte: EPE)
* **res_n**: consumo de energia (GWh) nas residências da região Norte (Fonte: EPE)
* **res_ne**: consumo de energia (GWh) nas residências da região Nordeste (Fonte: EPE)
* **res_s**: consumo de energia (GWh) nas residências da região Sul (Fonte: EPE)
* **res_se**: consumo de energia (GWh) nas residências da região Sudeste (Fonte: EPE)
* **renda_r**: renda real da população (Fonte: PNAD)
* **pop_ocup_br**: número absoluto de pessoas com 14 anos ou mais com alguma ocupação no Brasil (Fonte: PNAD)
* **massa_r**: massa efetiva de renda proveniente da população ocupada (Fonte: PNAD)
* **du**: dias úteis no mês
* **pmc_a_co**: Pesquisa Mensal do Comércio Ampliada, que contempla as atividados do comércio varejista, considerando veículos e materiais de construção - região Centro Oeste (Fonte: IBGE)
* **temp_max_co**: temperatura máxima mensal (°C) na região Centro Oeste
* **temp_min_co**: temperatura mínima mensal (°C) na região Centro Oeste
* **pmc_r_co**: Pesquisa Mensal do Comércio Restrita, que contempla as atividados do comércio varejista - região Centro Oeste (Fonte: IBGE)
* **pim_co**: produção industrial. Comportamento do produto real das indústrias extrativa e de transformação - Região Centro Oeste (Fonte: IBGE)
* **pmc_a_n**: Pesquisa Mensal do Comércio Ampliada, que contempla as atividados do comércio varejista, considerando veículos e materiais de construção - região Norte (Fonte: IBGE)
* **temp_max_n**: temperatura máxima mensal (°C) na região Norte
* **temp_min_n**: temperatura mínima mensal (°C) na região Norte
* **pmc_r_n**: Pesquisa Mensal do Comércio Restrita, que contempla as atividados do comércio varejista - região Norte (Fonte: IBGE)
* **pim_n**: produção industrial. Comportamento do produto real das indústrias extrativa e de transformação - Região Norte (Fonte: IBGE)
* **pmc_a_ne**: Pesquisa Mensal do Comércio Ampliada, que contempla as atividados do comércio varejista, considerando veículos e materiais de construção - região Nordeste (Fonte: IBGE)
* **temp_max_ne**: temperatura máxima mensal (°C) na região Nordeste
* **temp_min_ne**: temperatura mínima mensal (°C) na região Nordeste
* **pmc_r_ne**: Pesquisa Mensal do Comércio Restrita, que contempla as atividados do comércio varejista - região Nordeste (Fonte: IBGE)
* **pim_ne**: produção industrial. Comportamento do produto real das indústrias extrativa e de transformação - Região Nordeste (Fonte: IBGE)
* **pmc_a_s**: Pesquisa Mensal do Comércio Ampliada, que contempla as atividados do comércio varejista, considerando veículos e materiais de construção - região Sul (Fonte: IBGE)
* **temp_max_s**: temperatura máxima mensal (°C) na região Sul
* **temp_min_s**: temperatura mínima mensal (°C) na região Sul
* **pmc_r_s**: Pesquisa Mensal do Comércio Restrita, que contempla as atividados do comércio varejista - região Sul (Fonte: IBGE)
* **pim_s**: produção industrial. Comportamento do produto real das indústrias extrativa e de transformação - Região Sul (Fonte: IBGE)
* **pmc_a_se**: Pesquisa Mensal do Comércio Ampliada, que contempla as atividados do comércio varejista, considerando veículos e materiais de construção - região Sudeste (Fonte: IBGE)
* **temp_max_se**: temperatura máxima mensal (°C) na região Sudeste
* **temp_min_se**: temperatura mínima mensal (°C) na região Sudeste
* **pmc_r_se**: Pesquisa Mensal do Comércio Restrita, que contempla as atividados do comércio varejista - região Sudeste (Fonte: IBGE)
* **pim_se**: produção industrial. Comportamento do produto real das indústrias extrativa e de transformação - Região Sudeste (Fonte: IBGE)

#Análise Exploratória dos Dados
Nesta seção será feita uma análise dos dados, com a finalidade de saber se há colunas com valores vazios e como lidar com eles; visualizar superficialmente a base de dados; descrever quais são os tipos de cada variável e decidir se há a necessidade de alterá-las; definir a nossa variável target, entre outras ações.

##Visualização dos dados
Primeiramente, iremos visualizar o dataframe a partir da base de dados fornecida em Excel.

In [ ]:
import pandas as pd

df = pd.read_excel('https://github.com/lucas-tebet/4intelligence/blob/main/Bases_Final_ADS_Jun2021.xlsx?raw=true', 'dados')

In [ ]:
print(df.shape)
df.head()

(228, 45)

   data_tidy     com_co      com_n  ...  temp_min_se  pmc_r_se     pim_se
0 2004-01-01  307.28207  193.80956  ...    20.365591    47.369  75.454326
1 2004-02-01  290.14685  175.49530  ...    20.089655    45.738  72.953183
2 2004-03-01  307.10015  182.75690  ...    19.749463    49.252  83.942665
3 2004-04-01  329.16091  189.49076  ...    19.650000    49.755  79.495481
4 2004-05-01  303.23791  191.64219  ...    17.573118    51.849  84.187962

[5 rows x 45 columns]

Podemos ver que a base de dados foi importada corretamente para o nosso dataframe e possui 228 entradas para as 45 colunas.

##Gráficos
Para um melhor entendimento do nosso estudo, iremos plotar alguns gráficos para termos um melhor aspecto visual da situação. A partir deles, poderemos tirar algumas informações que possam ser relevantes para o nosso estudo.

###Boxplot

##Variáveis
Nesse momento, vamos olhar para cada variável e verificar se possuem valores nulos e quais são seus tipos.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 45 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   data_tidy    228 non-null    datetime64[ns]
 1   com_co       206 non-null    float64
 2   com_n        206 non-null    float64
 3   com_ne       206 non-null    float64
 4   com_s        206 non-null    float64
 5   com_se       206 non-null    float64
 6   ind_co       206 non-null    float64
 7   ind_n        206 non-null    float64
 8   ind_ne       206 non-null    float64
 9   ind_s        206 non-null    float64
 10  ind_se       206 non-null    float64
 11  res_co       206 non-null    float64
 12  res_n        206 non-null    float64
 13  res_ne       206 non-null    float64
 14  res_s        206 non-null    float64
 15  res_se       206 non-null    float64
 16  renda_r      130 non-null    float64
 17  pop_ocup_br  228 non-null    float64
 18  massa_r      130 non-null    float64
 19  du           228 non-null    int64
 20  pmc_a_co     228 non-null    float64
 21  temp_max_co  228 non-null    float64
 22  temp_min_co  228 non-null    float64
 23  pmc_r_co     228 non-null    float64
 24  pim_co       228 non-null    float64
 25  pmc_a_n      228 non-null    float64
 26  temp_max_n   228 non-null    float64
 27  temp_min_n   228 non-null    float64
 28  pmc_r_n      228 non-null    float64
 29  pim_n        228 non-null    float64
 30  pmc_a_ne     228 non-null    float64
 31  temp_max_ne  228 non-null    float64
 32  temp_min_ne  228 non-null    float64
 33  pmc_r_ne     228 non-null    float64
 34  pim_ne       228 non-null    float64
 35  pmc_a_s      228 non-null    float64
 36  temp_max_s   228 non-null    float64
 37  temp_min_s   228 non-null    float64
 38  pmc_r_s      228 non-null    float64
 39  pim_s        228 non-null    float64
 40  pmc_a_se     228 non-null    float64
 41  temp_max_se  228 non-null    float64
 42  temp_min_se  228 non-null    float64
 43  pmc_r_se     228 non-null    float64
 44  pim_se       228 non-null    float64
dtypes: datetime64[ns](1), float64(43), int64(1)
memory usage: 80.3 KB

Aqui podemos perceber que o formato de todas as variáveis estão corretos. A `data_tidy` está como o formate de data (datetime), `du` está com formato de número inteiro (int) e as demais variáveis estão corretamente como números decimais (float). 

Quanto aos valores ausentes, vemos que algumas variáveis apresentam valores nulos. 
* `renda_r` (variável independente)
* `massa_r` (variável independente)

Como a quantidade de valores ausentes dessas colunas é representativo ao nosso modelo, iremos preenchê-las com suas respectivas **medianas**. 

Além dessas duas, todas as variáveis dependentes (que são referentes ao consumo de energia nas 5 regiões) possuem valores ausentes. Isso quer dizer que as últimas entradas que estão vazias são justamente aquelas que precisamos projetar, de acordo com o nosso objetivo. Em outras palavras, **as últimas 22 entradas serão aquelas a serem projetadas pelo modelo de Machine Learning**.

In [ ]:
mediana_renda_r = df.renda_r.median()
df.renda_r.fillna(mediana_renda_r, inplace = True)

mediana_massa_r = df.massa_r.median()
df.massa_r.fillna(mediana_massa_r, inplace = True)

In [ ]:
df.isnull().sum()

data_tidy       0
com_co         22
com_n          22
com_ne         22
com_s          22
com_se         22
ind_co         22
ind_n          22
ind_ne         22
ind_s          22
ind_se         22
res_co         22
res_n          22
res_ne         22
res_s          22
res_se         22
renda_r         0
pop_ocup_br     0
massa_r         0
du              0
pmc_a_co        0
temp_max_co     0
temp_min_co     0
pmc_r_co        0
pim_co          0
pmc_a_n         0
temp_max_n      0
temp_min_n      0
pmc_r_n         0
pim_n           0
pmc_a_ne        0
temp_max_ne     0
temp_min_ne     0
pmc_r_ne        0
pim_ne          0
pmc_a_s         0
temp_max_s      0
temp_min_s      0
pmc_r_s         0
pim_s           0
pmc_a_se        0
temp_max_se     0
temp_min_se     0
pmc_r_se        0
pim_se          0
dtype: int64

Agora podemos ver que os valores nulos das colunas `renda_r` e `massa_r` foram prenchidos por suas respectivas medianas. Assim conseguimos dar continuidade no nosso modelo, sem que haja problemas futuros (a biblioteca que usaremos lá na frente - scikit-learn - não permite usarmos valores nulos no dataframe)

Antes de seguirmos com o estudo, devemos excluir as últimas 22 entradas do dataframe (essas serão utilizadas para projetar a demanda de energia). 

Adicionalmente, iremos criar um novo dataframe `df_clean` desconsiderando a coluna de data `data_tidy`. Isso porque a biblioteca de Machine Learning que utilizaremos, não é possível utilizar variáveis com o tipo `datetime`.

In [ ]:
#excluindo as últimas entradas

for i in range(206, 228):
  df = df.drop(i)

In [ ]:
#criando um novo dataframe sem a coluna de data

df_clean = df.drop(labels = 'data_tidy', axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
X = df_clean.drop('ind_se', axis=1)
y = df_clean['ind_se']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = model.predict(X_test)